@model Blogger.Models.PostDetail
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BLogLayout.cshtml";

}

<section>
    <div class="container mt-30 mb-30 pt-30 pb-30">
        <div class="row">
            <div class="col-md-10">
                <div class="blog-posts single-post">
                    <article class="post clearfix mb-0">
                        <div class="entry-header">
                            <div class="post-thumb thumb"> <img src="http://placehold.it/1920x1280" alt="" class="img-responsive img-fullwidth"> </div>
                        </div>
                        <div class="entry-content">
                            <div class="entry-meta media no-bg no-border mt-15 pb-20">
                                <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                                    <ul>
                                        <li class="font-16 text-white font-weight-600">@Model.Create_time.Date</li>
                                        <li class="font-12 text-white text-uppercase">@Model.Create_time.Month</li>
                                    </ul>
                                </div>
                                <div class="media-body pl-15">
                                    <div class="event-content pull-left flip">
                                        <h3 class="entry-title text-white text-uppercase pt-0 mt-0"><a href="blog-single-right-sidebar.html">@Model.Title</a></h3>
                                    </div>
                                </div>
                            </div>

                            @Html.Raw(Model.Post_Content)
                           
                            </div>
                    </article>
                    @*<div class="tagline p-0 pt-20 mt-5">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="tags">
                                    <p class="mb-0"><i class="fa fa-tags text-theme-colored"></i> <span>Tags:</span> Law, Juggement, lawyer, Cases</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="share text-right flip">
                                    <p><i class="fa fa-share-alt text-theme-colored"></i> Share</p>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="author-details media-post">
                        <a href="#" class="post-thumb mb-0 pull-left flip pr-20"><img class="img-thumbnail" alt="" src="http://placehold.it/125x148"></a>
                        <div class="post-right">
                            <h5 class="post-title mt-0 mb-0"><a href="#" class="font-18">Meeran Nasir</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et sed aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <ul class="styled-icons square-sm m-0">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

